Port 22
Protocol 2

PermitRootLogin yes
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePam no

Match User oidc
    AuthorizedKeysFile none
    AuthorizedKeysCommand /usr/local/bin/verify_key.sh %t %k
    AuthorizedKeysCommandUser oidc

LogLevel DEBUG3

